.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-left: 20%;
  }
  .grid-item {
    background-color: rgba(53, 161, 143, 0.8);
    border: 1px solid rgba(15, 12, 12, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }
  
  .manage{
    color: aqua;
  }
  
  .manage:hover{
      color:red;
      cursor:pointer
  }